.wrap-BuyProjects {
    margin: 0 auto;
    position: relative;
    width: 100%;
    flex-direction: column;
    padding: 50px;
}
.textLabel-Select {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 35.5px; /* 221.875% */
}

.SelectSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
}
.inputSelect {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    background: #e3e3e3;
}
.btn-SearchBuy {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 283px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(90deg, #f7e75a 0%, #ffc702 100%);
}
