* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form_background {
    margin: 0 auto;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-bottom: 180px;
    gap: 100px;
}

.frame_banner {
    background-image: url(/images/contact/img/Referensikan.png);
    background-size: 100% 100%;
    height: 269px;
    width: 380px;
}

.form {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 12px #f0bb0b73;
    width: 500px;
    letter-spacing: 0;
    height: 550px;
}

.basic_information a {
    font-family: "Montserrat-Bold", Helvetica;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding: 40px;
}

.form_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.text {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #cdcdcd;
    border-radius: 20px;
    height: 35px;
    width: 300px;
    padding: 20px;
}

.form_control {
    color: #000000;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    display: flex;
}

.form_buttom {
    all: unset;
    align-items: center;
    background: linear-gradient(180deg, rgb(255, 226, 89) 15.1%, rgb(255, 167, 81) 85.42%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 18px 32px;
    width: 286px;
    flex-direction: column;
    justify-content: space-around;
}

.text_button {
    color: #2d2d2d;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    box-shadow: linear-gradient(180deg, rgb(255, 226, 89) 15.1%, rgb(255, 167, 81) 85.42%);
}

.MuiStepLabel-horizontal {
    display: flex;
    align-items: center;
    flex-direction: column;
}